### sched.rc config file, required by tw-sched-sh
### by djp, Copyright 2016, licenced under MIT

## User configs;
sched.tag=sch               # tag to mark tasks for (re)scheduling
sched.batch.limit=12        # default max for batch-processing
sched.cand.list.limit=6     # max candidates to list
sched.target.list.limit=6   # max targets to list
sched.datefmt='a D b Y H:N' # date format for target list
sched.hints=on              # on, yes or 1 to display hints

## don't edit willy-nilly below this line, you might break something!
##===================================================================
sched.rc.included=yes       # used to test that this file is included

report.sch_cand.description=Scheduling candidates, most urgent first
report.sch_cand.columns=id,due,description.count,project,tags,urgency
report.sch_cand.labels=ID,Due,Description,Project,Tags,Urgency
report.sch_cand.filter=+PENDING +READY
report.sch_cand.sort=urgency-,description+

report.sch_target.description=Scheduling targets, soonest first
report.sch_target.columns=id,scheduled,project,tags,description.desc
report.sch_target.labels=ID,Scheduled,Project,Tags,Description
report.sch_target.filter=+PENDING scheduled.after:now
report.sch_target.sort=scheduled+,project+,urgency-


